/* styling links */
input {
    border-radius: 5px;
    font-family:'Courier New', Courier, monospace;
    padding: 10px;
    border: none;
    background-color: #F5F5F5;
}

input:active {
    display: none;
}

textarea {
    border: none;
    background-color: #F5F5F5;
    resize: none;
}

textarea:focus, input:focus { outline: none; }
*:focus {
    outline: none;
}

/* contactus-main */
.contactus-container {
    position: relative;
    padding-left: 20px;
    width: 1000px;
}

.contactus-desc {
    margin-top: 40px;
}

.email-title {
    margin-top: 20px;
}

.email-desc {
    margin-top: 10px;
}

.email-address {
    text-decoration: underline !important;
    cursor: pointer;
}

.inquiry-box {
    margin-top: 20px;
}

.inquiry-title {
    margin-top: 80px;
}

.fname {
    display: inline-block;
}

.fname, .phonenumber, .inquiryreason {
    height: 25px;
    width: 450px;
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
}

.lname, .emailaddress, .ordernumber {
    margin-left: 20px;
    height: 25px;
    width: 450px;
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
}

.inquirymessage {
    height: 200px;
    width: 952.5px;
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
}

.inquiry-submit {
    border-radius: 5px;
    background-color: black;
    color: white;
    height: 40px;
    width: 100px;
    margin-top: 20px;
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
}

.inquiry-submit:hover {
    background-color: #4C4C4C;
}

.shopping-submit {
    border-radius: 5px;
    background-color: black;
    color: white;
    height: 40px;
    width: 200px;
    margin-top: 20px;
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
}

.shopping-submit:hover {
    background-color: #4C4C4C;
}