/* styling links */
html, body {
  font-family:'Courier New', Courier, monospace;
  font-size: 18px;
  color: black;
}

.wrapper {
  height: 100vh;
  display: flex;
  
  flex-direction: column;
}

main {
  flex: 1;
}

body {
  margin: 0;
}

header {
  height: 150px;
}

footer {
  height: 100px;
}